<% if current_user.has_any_role?(:admin, :barber) %>
<h1>Add new service</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for(@service) do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :price %><br>
    <%= f.text_field :price %><br>

    <%= f.submit 'Submit', class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
<% end %>
