<div class="main-container">

  <section>
    <button class="openbar" onclick="openSidebar()">Book Appointment</button>
    <%= render 'appointments/new' %>
    <%= link_to "Edit Shop", edit_shop_path, class:"edit-shop" %>
    <%= link_to "Delete Shop", @shop, method: :delete, remote: true, class:"delete-shop", data: {confirm: "are you sure?"} %>
  </section>

  <section>
    <%= month_calendar events: @appts do |date, appts| %>
      <%= date.day %>
      <% if @appts.present? %>
      <% appts.each do |a| %>
       <div>
         <span>@<%= a.start_at.strftime("%H:%M") %></span>
         <span>| Barber: <%= a.user.first_name.capitalize %></span>
       </div>
      <% end %>
     <% end %>
    <% end %>
  </section>

  <div class="table-responsive-sm">
    <table class="table barbers">
      <caption class="barber-header">Barbers</caption>
      <% if current_user.has_any_role?(:barber) %>
      <caption class="add-barber">
        <%= link_to new_user_path do %>
          <i class="fas fa-plus-circle"></i>
        <% end %>
      </caption>
      <% end %>
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Profile</th>
        </tr>
      </thead>
      <tbody>
        <% @shop.users.each do |u| %>
        <tr>
          <td><%= u.first_name.capitalize %></td>
          <td><%= u.last_name.capitalize %></td>
          <td><%= link_to "Profile", user_path(u.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render 'services/index' %>
