<div id="appt-sidebar" class="sidebar">
  <div class="closebar" onclick="closeSidebar()">&times;</div>
  <h1>Book Appointment</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <%= form_for(@appt) do |f| %>
      <%= f.label :Date %><br>
      <%= f.date_field :start_date %><br>
      <%= f.label :Time %><br>
      <%= f.text_field :start_at, :class => "time_picker" %><br>
      <%= f.label :Barbershop %><br>
      <%= f.collection_select :shop_id, Shop.all, :id, :name, {include_blank: true} %><br>
      <%= f.label :Barber %><br>
      <%= f.collection_select :user_id, User.with_role(:barber), :id, :first_name, {include_blank: true} %><br>
      <%= f.label :Service %><br>
      <%= f.collection_select :service_id, Service.all, :id, :service_price, {include_blank: true} %><br>
      <%= f.label :note %><br>
      <%= f.text_area :note %><br>

      <%= f.submit 'Book', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.time_picker').timepicker({ 'scrollDefault': 'now' });
</script>

<form action="your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_neiHVhbBDrUzRw6eoKo8eDAy"
    data-amount="999"
    data-name="Stripe.com"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>
