<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<ul class="nav">
  <% if current_user %>
    <li class="nav-item"><%= link_to "Logout", logout_path, method: :delete, class:"nav-link" %></li>
    <li class="nav-item"><%= link_to "Profile", user_path(@current_user), class:"nav-link active" %></li>
    <li class="nav-item"><%= link_to "Barbershops", shops_path, class:"nav-link" %></li>
  <% else %>
    <li class="nav-item"><%= link_to "Sign Up", new_user_path, class:"nav-link" %></li>
    <li class="nav-item"><%= link_to "Login", login_path, class:"nav-link" %></li>
  <% end %>
    <li class="nav-item"><%= link_to "Home", root_path, class:"nav-link" %></li>
    <li id="logo" class="nav-item"><img src="/assets/logo2.png" class="nav-link" alt="barbershop+"></li>
</ul>
